<?php
// $_prefix='' // move the hubic2swiftgate into a subdirectory of an existing server

$clients=array(
	'hubic'=>array(
//		'redirect_uri'=>'https://localhost/callback/', // override automatic uri
		'password'=>'mypassword',
		'client_id'=>'api_hubic_xxxx...(put yours here)',
		'client_secret'=>'xxxx......(put yours here)'
	)
);
