<?php
$clients=array(
	'hubic'=>array(
		'autoredirect_uri'=>'https://localhost/callback/', // only needed for autoregister
		'password'=>'mypassword',
		'client_id'=>'api_hubic_xxxx...(put yours here)',
		'client_secret'=>'xxxx......(put yours here)'
	));
